  <div class="row collapse">
    <div class="small-3 columns">
      <%= yield %>
    </div>
  </div>

  <div class="row">
    <div class="small-5 columns">
      <h1>New way</h1>
    </div>
    <div class="small-4 columns">
      <h1></h1>
    </div>
    <div class="small-3 columns">
      <h1></h1>
    </div>
  </div>

    <div class="row">
    <div class="small-3 columns">
      <h1></h1>
    </div>
    <div class="small-9 columns">
      <h1>for banking</h1>
    </div>
    <div class="small-3 columns">
      <h1></h1>
    </div>
  </div>

    <div class="row">
    <div class="small-3 columns">
      <h1></h1>
    </div>
    <div class="small-5 columns">
      <h1></h1>
    </div>
    <div class="small-6 columns">
      <h1>online</h1>
    </div>
  </div>

      <div class="row">
    <div class="small-3 columns">
      <h2></h2>
    </div>
    <div class="small-5 columns">
      <h2><%= link_to "Login", new_user_session_path %> and discover it</h2>
    </div>
    <div class="small-6 columns">
      <h2></h2>
    </div>
  </div>